# Build folders

build/
build-*/
cmake-build-*/
release/


# Qt Creator

*.user
*.pro.user
CMakeLists.txt.user
.qtcreator/


# CMake

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile


# OS files

.DS_Store
Thumbs.db


# Compiled files

*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll